* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 24px;
  }


  .last-notes {
    grid-area: a;
  }
  .note-name{
    grid-area: b;
  }
  .note {
    grid-area: c;
  }
  .act {
    grid-area: d;
  }
  .profile {
    grid-area: e;
    justify-self:end;
  }
  .profile img{
    max-height: 200px;
    max-width: 200px;
  }

  .last-notes,.act,.note,.note-name,.profile{
    margin: 10px;
    background-color: #A6B2EC;
  }

  .container {
    display: grid;
    height: 98vh;
    background-color: #F4ACC4;
    grid-template-rows: 100px;
    column-gap:  10px;

    grid-template-columns: 200px auto 1000px;
    grid-template-areas:
      "a  b b b b b b  e"
      "a  c c c c c c  e"
      "a  c c c c c c  d"
      "a  c c c c c c  d"
      "a  c c c c c c  d";
  }


  button,textarea{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  textarea { 
    resize: none;
    height: 90%;
    width: 100%;

}

button:hover{
  background-color: #F4ACC4;
}
